*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 80px;
    position: fixed;
    background-color: white;
    margin: auto;
    z-index: 1;
}

#logo{
    width: 8%;
    margin-top: 25px;
    margin-left: 20px;
}
.list1{
    display: inline;
    bottom: 7%;
    left: 3%;
    position: relative;

}
.list2{
    display: inline;
    bottom: 7%;
    left: 20%;
    position: relative;
    
}

header > ul > li{
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    
}

.btn{
    position: relative;
}
.btn:hover{
    cursor: pointer;
    opacity: 80%;
}
.small{
    width: 100px;
    height: 80px;
    left: 25%;
    bottom: 7%;
    display: inline;
    background-color: #0061ff;
    padding: 5px 15px;
}
.contenuto{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-align: center;
    margin: auto;
}
.jumbotron{
    height: 800px;
    background-color: #b4d0e7;
    z-index: -1;
    
}
.jumbotron > h1{
    font-size: 80px;
    line-height: 108px;
    padding: 140px 60px 10px 60px;
    font-family: 'Antonio', sans-serif;
    letter-spacing: -2px;
}
.jumbotron > p{
    font-size: 16px;
    line-height: 26px;
    max-width: 400px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    padding-left: 60px;
}
.large{
    width: 250px;
    height: 40px;
    background-color: #0061ff;
    position: relative;
    left: 4%;
    top: 5%;
    display: block;
    padding: 10px 20px;
    z-index: 0;
 
}
.annulla{
    position: relative;
    top: 7%;
    left: 4%;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
a{
    color: black;
}
#arrow{
    font-size: 40px;
    position: relative;
    top: 20%;
    right: 9%;
}
.img1{
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 0;
}
.container{
    width: 80%;
    margin: auto;
    position: relative;
    
}
.container > h1{
    margin-top: 200px;
    font-size: 52px;
    line-height: 32px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
}

.radiobox{
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    left: 4%;
}

.radiotext{
    font-size: 22px;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.col{
    width: calc(90% / 3);
    height: 1100px;
    margin: 20px;
    border: 2px solid lightgrey;
    display: inline;
    float: left; 
}

.container::after{
    content: "";
    clear: both;
    display: table;
} 
.info{
    border-bottom: 2px solid lightgrey;
    height: 50px;
}
#omino{
    position: relative;
    top: 30%;
    left: 33%;
}

.singolo{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 15px;
}
.team{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    padding-top: 15px;
}

 h2{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 20px 0 20px 20px;
    width: 50%;
    display: inline-block;
    
}
.soldi{
    
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: 50%;
    display: inline-block;
}
.mese{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 14px;
    color: grey;

}
.caratteristiche{
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.caratteristiche2{
    margin-top: 30px;
    margin-bottom: 50px;
}
.utente{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 25px;
    width: 50%;
    display: inline-block;
    
}
.colonna{
    width: 250px;
    height: 40px;
    background-color: #0061ff;
    display: block;
    padding: 10px 20px;
    z-index: 0;
    margin: auto;
    right: 10%;
}
.acquista{
    margin: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.underline{
    color: blue;
    text-decoration: underline;
}
hr{
    margin-right: 220px;
    margin-left: 30px;
    margin-top: 30px;
    color: lightgrey;
}
.titolo-lista{
    margin: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.col > ul >li{
    display: inline-block;
    margin: 10px;
    max-width: 250px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: justify;
    padding-left: 10px;
}
.check{
    color: blue;
}
.lista2{
    display: inline-block;
    margin: 10px;
    max-width: 250px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: justify;
    font-size: 14px;
}
.enterprise{
    width: 97%;
    height: 280px;
    margin: auto;
    border: 2px solid lightgray;
    position: relative;
}
.xxl{
    width: 250px;
    height: 40px;
    background-color: #0061ff;
    padding: 10px 20px;
    z-index: 0;
    display: inline;
    left: 20%;
    bottom: 52%;
}
#img2{
    padding-top: 150px;
    padding-left: 20px;
}
.container > h3{
    display: inline;
    position: absolute;
    left: 60%;
    bottom: 60%;
    font-size: 25px;
    line-height: 32px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    max-width: 350px;
    letter-spacing: 1px;
    
}
.container > p{
    display: inline;
    position: absolute;
    bottom: 30%;
    left: 60%;
    max-width: 350px;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}
.white{
    width: 250px;
    height: 40px;
    border: 1px solid black;
    background-color: white;
    padding: 10px 20px;
    z-index: 0;
    display: inline;
    left: 10%;
    
}
.contenuto-black{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    margin: auto;
}
.col2{
    width: calc(90% / 3);
    margin: 50px 20px 50px 20px;
    display: inline;
    float: left; 
}
.imgcol{
    width: 90%;
    object-fit: cover;
}
.col2 > h4{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.col2 > p{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    padding-top: 10px;
}
.underline{
    text-decoration: underline;
    color: #000;
}

.blu{
    color: blue;
    text-decoration: underline;
    display: block;
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.container2{
    width: 80%;
    margin: auto;
    position: relative;
    margin-bottom: 50px;
}
.container2 > h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    max-width: 800px;
    text-align: left;
    line-height: 50px;
    font-size: 46px;
}
.container-center{
    width: 100%;
    height: 60vh;
    position: relative;
    
}
.col3{
    width: calc(100% / 3);
    height: 100%;
    float: left;
    
}
.container-center::after{
    content: '';
    display: table;
    clear: both;
}
.col3::after{
    content: '';
    display: table;
    clear: both;
}
.item{
    width: 50%;
    height: 50%;
    float: left;
}
.item-big{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}
.green{
    background-color: #a2d39b;
}
.darkred{
    background-color: #62082b;
}
.lightblue{
    background-color: #0193ce;
}
.red{
    background-color: #ff1c1d;
}
.red2{
    background-color: #d50020;
}
.lightblue2{
    background-color: #b4d0e6;
}
.blue{
    background-color: #0d2481;
}
.yellow{
    background-color: #ffd930;
}
.img-logo{
    width: 70%;
    height: auto;
    position: relative;
    top: 40%;
    left: 15%;
    filter: invert(1);

}
.img-logo2{
    width: 40%;
    height: auto;
    position: relative;
    top: 30%;
    left: 30%;
    filter: invert(1);
}
.item:active{
    border: 10px solid #d0eacd;
}
.logo-big{
    width: 30%;
    height: auto;
    position: relative;
    left: 10%;
    top: 20%;
}
.item-big > p{
    position: relative;
    top: 30%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 26px;
    max-width: 400px;
    margin: auto;
}
.morten{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    position: relative;
    top: 40%;
    left: 10%;
}
.container-center2{
    width: 100%;
    height: 40vh;
    position: relative;
}
.container-center2 > h1{
    color: #61082b;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    max-width: 650px;
    position: relative;
    top: 40%;
    left: 20%;
}
.azienda{
    width: 250px;
    height: 50px;
    background-color: white;
    left: 70%;
    top: 10%;
}
.contenuto-black2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    margin: auto;
    padding-left: 20px;
}
